.header {
    position: absolute;
    z-index: 99999;
    width: 90%;
    background-color: transparent !important;
    padding: 8px 8px;
    box-shadow: #FFD947;
    color: #FFD947;
    margin-left: 25px;

}

#nav-item-child .navbar-collapse {
    margin-right: 50px;
}

.logo-img {
    float: left;
}

.header .logo-img {

}

header.navbar .navbar-expand-lg .container {
    /* margin-left:25px ;*/
    width: 100%;
}

header.navbar .navbar-expand-lg .container {
    margin-right: 50px;
}

#nav-item-child .test.header-nav {
    color: #005BAA;
}

.header a.navbar-light .navbar-nav .nav-link:active {
    background-color: #FFD947;
    color: #005BAA;
    font-weight: bold;
}

.header.navbar-light .navbar-nav .nav-link {
    color: #FFD947;
    border-radius: 25px;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
}

.header a :hover,
.header a .active >,
.header a .active,
.header a .show,
.header a .show > {
    color: #FFD947;
    border-bottom: 3px solid #005BAA;
}

.header a:hover:enabled {
    background-color: #005BAA;
    color: #FFD947;
    font-weight: bold;
}

.header a:hover {
    background-color: #005BAA;
    color: #FFD947;
    font-weight: bold;
}

.header a.navbar-collapse {
    float: left;
    background-color: #005BAA;
    color: #FFD947;
    text-align: right;
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 25px;
    font-weight: bold;

}

.header a.logo {
    color: #FFD947;
    font-weight: bold;
    font-size: 1rem;
}

.header a.logo:hover {
    background-color: #FFD947;
    color: #005BAA;
}

/* Style the active/current link*/


/* Float the link section to the right */
@media screen and  (min-width: 769px)and (max-width: 1149px) {
    .header {
        float: none;
        display: block;
        text-align: left;
        flex-flow: row wrap;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 768px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    #nav-item-child .navbar-collapse {
        margin-right: 50px;

    }

    .header.navbar-light .navbar-nav .nav-link {
        color: #005BAA;
        border-radius: 25px;
        text-align: center;
        margin-bottom: 0.2rem;
        padding: 2px;
        font-size: 1rem;
        font-weight: bold;
        border: 5px solid #FFD947;
        background-color: #eefbfe !important;;
        height: auto;
    }

    .h1, h1 {
        font-size: 1.5rem;
        padding-top: 50%;
    }

}

.header a.logo {
    font-size: 0.8rem;
}