.fun-facts {
    height: 70vh;
    margin-top: 10px;
    /*background-color: #FFD947;*/
    background-image: url(../../Img/people.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 140px;
    color: #fff;
}

.fun-facts span {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFD947;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.fun-facts h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 35px;
}

.fun-facts em {
    font-style: normal;
    color: #005BAA;
}

.fun-facts p {
    color: #FFD947;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.fun-facts .left-content {
    margin-right: 45px;
}

.count-area-content {
    text-align: center;
    background-color: rgba(250, 250, 250, 0.1);
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5em;
    height: auto;
    border: #FFD947 solid 3px;
}

.count-digit span {
    margin: 5px 0;
    color: #FFD947;
    font-weight: bold;
    font-size: 1.5em;
}

.count-title {

    color: #fff;
    letter-spacing: 1px;
    width: initial;
    height: auto;
    font-weight: bold;
    font-size: 1.2rem;
}


/* More Info */

.more-info {
    margin-top: 140px;
}

.more-info .left-image img {
    width: 100%;
    overflow: hidden;
}

.more-info .right-content span {
    text-transform: uppercase;
    font-size: 15px;
    color: #FFD947;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.more-info .right-content h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 35px;
}

.more-info .right-content em {
    font-style: normal;
    color: #FFD947;
}

.more-info .right-content p {
    margin-bottom: 30px;
}

.buttonModul {
    border: 5px solid #FFD947;
    background-color: #005BAA;
    border-radius: 10px;
    color: #FFD947;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5%;
    width: 500px;
    height: 250px;
    font-weight: bold;
    font-size: 1.5rem;
    flex-shrink: 1;


}

.buttonModul :hover {
    border: 5px solid #005BAA;
    background-color: #FFD947;
    border-radius: 10px;
    color: #005BAA;
    width: 500px;
    height: 250px;
}

@media screen and (max-width: 768px) {
    .countrow {
        flex: none;
    }

    .fun-facts p {

        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .fun-facts h2 {
        font-size: 1.2rem;

    }

    .fun-facts {
        padding: 15% 15%;

    }

    .count-digit span {

        font-size: 1rem;
    }

    .count-title {
        font-size: 1.1rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 1536px) {
    .fun-facts {
        height: 70vh;
        padding: 40px 40px;
    }

    .count-area-content {
        height: 70%;
    }

    .count-digit span {
        font-size: 1.1rem;
    }

    .count-title {
        font-size: 1.1rem;
    }
}
